body {
  background-image: url("america-buildings-city-37646.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1 { 
  background-color: white;
  color: blue;
  display: inline-block;
  padding: 1rem;
}
