body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("america-buildings-city-37646.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1 { 
  background-color: white;
  color: grey;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  opacity: 0.9;
}

p {
  background-color: white;
  opacity: 0.3;
  color: #444;
  padding: 0.5rem;
  margin: 1rem;
}
